<div class="d-flex align-items-center gap-2 mb-4">
  <%= link_to admin_user_path(@user), class: 'btn btn-sm btn-outline-secondary' do %>
    &larr; Volver
  <% end %>
  <h1 class="h4 mb-0">Editar usuario</h1>
  <span class="badge <%= @user.admin? ? 'bg-danger' : 'bg-secondary' %>">
    <%= @user.admin? ? 'Admin' : 'Usuario' %>
  </span>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="card shadow-sm">
      <div class="card-body p-4">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
